# Python cache
__pycache__/
*.pyc

# Temporary, env, or junk files
.junk/
.DS_Store
.out
.whl
.env
.pypirc
.vscode
*claude*
*CLAUDE*

# CSV files
*.csv

# Logs and unnecessary folders
logs/
junk/
json*/
src/crawling
src/plotting
results/
hospital_data/
dist/
legacy/
new/*
demo/human_dialogs/*

# Data and configuration folders
data/
.vscode/launch.json
output/*
fhir_data/*
synthetic_data*/*
adminsim-arena/
adminsim-human-eval/